#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.range_block {
  width: 50vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filter-range__scale {
  width: calc(15vmin - 2 * 8px);
  height: 3px;
  background-color: #aeaeae;
  margin: auto 8px auto 8px;
}

.filter-range__control {
  height: 20px;
  width: 15vmin;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.filter-range-toggle {
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1px;
}

#canvas {
  height: 75vmin;
  aspect-ratio: 2/3;
}

h4 {
  height: 20px;
  margin: auto 0 auto 0;
  vertical-align: center;
}
