#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.range_block {
  width: 50vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.settings_block {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1vmin;
}

.wizard_setting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vmin;
}

.range_control {
  width: 5vmin;
  height: 100%;
  border-radius: 1vmin;
  background-color: #f6f1f1;
  box-shadow: 10px 5px 20px rgba(182, 176, 176, 0.47) inset;
  position: relative;
  display: flex;
}

.range_scale {
  width: 20%;
  height: 90%;
  background-color: #8c8585;
  border-radius: 2px;
  box-shadow: 2px 0 3px rgba(18, 17, 17, 0.7) inset;
  margin: auto;
}

.range_toggle {
  width: 80%;
  height: 5%;
  background-color: #333333;
  border-radius: 15%;
  border: none;
  cursor: pointer;
  position: absolute;
  box-shadow: 1vmin 1vmin 2vmin rgba(115, 111, 111, 0.32) inset;
  left: 10%;
}

.tableau {
  width: 50vmin;
  height: 5vmin;
  margin-bottom: 1vmin;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.half {
  display: flex;
  justify-content: center;
  gap: 0.5vmin;
}

.tab {
  background-color: #121111;
  color: #00ff50;
  height: 100%;
  aspect-ratio: 3/4;
  font-size: 3vmin;
  font-weight: bolder;
}

#canvas {
  height: 75vmin;
  aspect-ratio: 2/3;
}

h4 {
  height: 20px;
  margin: auto 0 auto 0;
  vertical-align: center;
}

.field {
  position: relative;
  margin-left: 1vmin;
}

.picker {
  /*height: 30vmin;*/
  /*aspect-ratio: 1/1;*/
  /*min-height: 100px;*/
  /*border: #090004 1px solid;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
}

.picker_none {
  display: none;
}